<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neusoft.pictureselector">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application>
        <activity
            android:name="com.neusoft.pictureselector.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.neusoft.pictureselector.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />

        <activity
            android:name=".idcard.camera.CameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!--其中authorities可以自定义，不过一定要和java代码中FileProvider.getUriForFile里的的保持一致。
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->
    </application>

</manifest>